In [93]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from api_keys import g_key

In [94]:
#Store Part 1 results into DataFrame
#Load th CSV exported in Part 1 into a dataframe
csv_path = r'cities.csv'
cities_df = pd.read_csv(csv_path)
print(len(cities_df))

546

In [95]:
cities_df.head()

,City,LAT,LON,Weather,Desription,Temp,Temp Feels,Temp Min,Temp Max,Pressure,Humidity,Visibility,Clouds,Wind Speed
0,Iqaluit,63.7506,-68.5145,Snow,snow,266.04,258.27,265.93,266.15,1025,86,10000,90,6.69
1,Escanaba,45.7453,-87.0646,Clouds,overcast clouds,275.01,271.07,274.82,275.15,1012,93,10000,90,4.12
2,Atuona,-9.8000,-139.0333,Clouds,overcast clouds,299.74,299.74,299.74,299.74,1014,73,10000,95,7.45
3,San Isidro,-12.1167,-77.0500,Clouds,scattered clouds,290.95,290.93,290.37,291.48,1014,82,10000,40,5.14
4,East London,-33.0153,27.9116,Clear,clear sky,290.15,290.05,290.15,290.15,1008,82,10000,0,1.03

In [96]:
#Configure gmaps.
gmaps.configure(api_key=g_key)
# Use the Lat and Lng as locations and Humidity as the weight.
locations = cities_df[["LAT", "LON"]].astype(float)
humidity = cities_df["Humidity"].astype(float)
# Add Heatmap layer to map.
fig = gmaps.figure()

heat_layer = gmaps.heatmap_layer(locations, weights=humidity, 
                                 dissipating=False, max_intensity=100,
                                 point_radius = 1)

fig.add_layer(heat_layer)
fig

Figure(layout=FigureLayout(height='420px'))

In [101]:
#CREATE NEW DATA FRAME FITTING WEATHER CRITERIA
#Narrow down the cities to fit weather conditions.
#ideal weather conditions are between 70-90 degrees F (the measurements are in Kelvin)
ideal_weather= cities_df.loc[(cities_df['Temp'] <= 305.72) & (cities_df['Temp'] >= 294.26) & (cities_df['Clouds'] <=5)]

# Drop any rows will null values.
ideal_weather.dropna()
ideal_weather

,City,LAT,LON,Weather,Desription,Temp,Temp Feels,Temp Min,Temp Max,Pressure,Humidity,Visibility,Clouds,Wind Speed
43,Yanta,36.2411,115.6672,Clear,clear sky,298.59,297.48,298.59,298.59,1016,11,10000,1,5.39
57,Cockburn Town,21.4612,-71.1419,Clear,clear sky,298.70,299.27,298.70,298.70,1015,75,10000,1,6.15
118,San Miguel,13.4833,-88.1833,Clear,clear sky,299.06,299.72,299.06,299.06,1012,77,10000,0,0.40
131,Bissorã,12.2231,-15.4475,Clear,clear sky,295.15,295.70,295.15,295.15,1008,88,10000,0,1.54
143,Ormara,25.2088,64.6357,Clear,clear sky,301.80,304.80,301.80,301.80,1009,68,10000,2,2.42
150,Nurota,40.5614,65.6886,Clear,clear sky,301.15,299.92,301.15,301.15,1012,21,8000,0,10.29
169,Alice Springs,-23.7000,133.8833,Clear,clear sky,297.69,296.70,296.48,299.15,1021,19,10000,0,5.14
179,Carnarvon,-24.8667,113.6333,Clear,clear sky,301.15,300.75,301.15,301.15,1017,39,10000,0,3.09
233,Abu Dhabi,24.4667,54.3667,Clear,clear sky,305.15,303.13,305.15,305.15,1008,20,10000,0,2.57
263,Tanout,14.9709,8.8879,Clear,clear sky,300.05,298.98,300.05,300.05,1008,12,10000,1,4.21
277,Riyadh,24.6877,46.7219,Clear,clear sky,300.04,299.11,298.15,301.15,1011,18,10000,0,4.98
300,Keti Bandar,24.1447,67.4497,Clear,clear sky,303.45,305.36,303.45,303.45,1009,54,10000,0,4.97
317,Ardakān,32.3100,54.0175,Clear,clear sky,296.15,295.32,296.15,296.15,1018,31,10000,0,1.03
352,Pasni,25.2631,63.4710,Clear,clear sky,301.72,304.04,301.72,301.72,1009,64,10000,5,1.83
389,Rockwall,32.9001,-96.4003,Clear,clear sky,294.32,294.16,293.71,294.82,1010,64,10000,1,5.14
414,Buraidah,26.3260,43.9750,Clear,clear sky,298.15,298.01,298.15,298.15,1010,50,10000,0,1.03
477,Les Cayes,18.2000,-73.7500,Clear,clear sky,296.42,297.02,296.42,296.42,1014,85,10000,0,1.85
480,Yulara,-25.2406,130.9889,Clear,clear sky,299.15,299.15,299.15,299.15,1021,19,10000,0,4.63
511,Taylor,32.3001,-99.8337,Clear,clear sky,296.31,296.07,294.82,298.15,1007,53,10000,1,10.29
527,Kidal,18.4411,1.4078,Clear,clear sky,301.74,300.55,301.74,301.74,1007,27,10000,3,2.41

In [102]:
#HOTEL MAP
#Store into variable named hotel_df.
# Add a "Hotel Name" column to the DataFrame.
hotel_df = pd.DataFrame(ideal_weather)
hotel_df.insert(14,'Hotel Name', value = '')
hotel_df

,City,LAT,LON,Weather,Desription,Temp,Temp Feels,Temp Min,Temp Max,Pressure,Humidity,Visibility,Clouds,Wind Speed,Hotel Name
43,Yanta,36.2411,115.6672,Clear,clear sky,298.59,297.48,298.59,298.59,1016,11,10000,1,5.39,
57,Cockburn Town,21.4612,-71.1419,Clear,clear sky,298.70,299.27,298.70,298.70,1015,75,10000,1,6.15,
118,San Miguel,13.4833,-88.1833,Clear,clear sky,299.06,299.72,299.06,299.06,1012,77,10000,0,0.40,
131,Bissorã,12.2231,-15.4475,Clear,clear sky,295.15,295.70,295.15,295.15,1008,88,10000,0,1.54,
143,Ormara,25.2088,64.6357,Clear,clear sky,301.80,304.80,301.80,301.80,1009,68,10000,2,2.42,
150,Nurota,40.5614,65.6886,Clear,clear sky,301.15,299.92,301.15,301.15,1012,21,8000,0,10.29,
169,Alice Springs,-23.7000,133.8833,Clear,clear sky,297.69,296.70,296.48,299.15,1021,19,10000,0,5.14,
179,Carnarvon,-24.8667,113.6333,Clear,clear sky,301.15,300.75,301.15,301.15,1017,39,10000,0,3.09,
233,Abu Dhabi,24.4667,54.3667,Clear,clear sky,305.15,303.13,305.15,305.15,1008,20,10000,0,2.57,
263,Tanout,14.9709,8.8879,Clear,clear sky,300.05,298.98,300.05,300.05,1008,12,10000,1,4.21,
277,Riyadh,24.6877,46.7219,Clear,clear sky,300.04,299.11,298.15,301.15,1011,18,10000,0,4.98,
300,Keti Bandar,24.1447,67.4497,Clear,clear sky,303.45,305.36,303.45,303.45,1009,54,10000,0,4.97,
317,Ardakān,32.3100,54.0175,Clear,clear sky,296.15,295.32,296.15,296.15,1018,31,10000,0,1.03,
352,Pasni,25.2631,63.4710,Clear,clear sky,301.72,304.04,301.72,301.72,1009,64,10000,5,1.83,
389,Rockwall,32.9001,-96.4003,Clear,clear sky,294.32,294.16,293.71,294.82,1010,64,10000,1,5.14,
414,Buraidah,26.3260,43.9750,Clear,clear sky,298.15,298.01,298.15,298.15,1010,50,10000,0,1.03,
477,Les Cayes,18.2000,-73.7500,Clear,clear sky,296.42,297.02,296.42,296.42,1014,85,10000,0,1.85,
480,Yulara,-25.2406,130.9889,Clear,clear sky,299.15,299.15,299.15,299.15,1021,19,10000,0,4.63,
511,Taylor,32.3001,-99.8337,Clear,clear sky,296.31,296.07,294.82,298.15,1007,53,10000,1,10.29,
527,Kidal,18.4411,1.4078,Clear,clear sky,301.74,300.55,301.74,301.74,1007,27,10000,3,2.41,

In [108]:


# Set parameters to search for hotels with 5000 meters.
for index, row in hotel_df.iterrows():
    base_url = 'https://maps.googleapis.com/maps/api/place/nearbysearch/json'
    radius = 5000
    city = row['City']
    lat = row['LAT']
    lon = row['LON']
    location = f'{lat},{lon}'
    params = {
        'location': location,   
        'rankby': 'distance',
        'type': 'lodging',
        'radious': radius,
        'key':g_key

}
    response = requests.get(base_url, params=params).json()
    print(response)
    break
# Hit the Google Places API for each city's coordinates.Store the first Hotel result into the DataFrame.
# Plot markers on top of the heatmap.
#https://maps.googleapis.com/maps/api/place/nearbysearch/json?location=-33.8670522,151.1957362&radius=1500&type=restaurant&keyword=cruise&key=YOUR_API_KEY

{'html_attributions': [], 'next_page_token': 'ATtYBwKDpVkcOAvKTnYmXjwt83HP6yL2bOGbaIqYwTJNrvWxWXzGvSDIQ1D042Y1-psIsnZFDfiNTJlB0W17mQ9Xx_iSbTP99Cats21hrm73iEGbUbA9avYFIqPxxvu-Sq5aXGyFxV92ScNW9aQq_hl0qfIBZkKFfsbw3kWG9lwdlABOC0kxSQL42RPn0ivJfWdp3hKI1wUxaTu0PUNmH2kc5Gd1Ix3J1h7XQf1-GJQU3pITb3BO9FhrDSWmHV3udk4HSiBmN0Z_iGrLVI0iq0XuxZL4hO-fjpxYkfXMvoGc1QsVgTst_sR1FW0c8OOuP0HnJrwf3Kh7LmIm9yyrA_T4ratUeQTRNjXv5i5y5aE5y3YKvx0MZqj_60r6E1HfNZ6myGMSSjQVEQVCGU8q-1NvI67RegQL4YLwUUvkOv3HlW9yXLClGHwOx03sTWk', 'results': [{'business_status': 'OPERATIONAL', 'geometry': {'location': {'lat': 36.24107199999999, 'lng': 115.666995}, 'viewport': {'northeast': {'lat': 36.2424333302915, 'lng': 115.6682543302915}, 'southwest': {'lat': 36.2397353697085, 'lng': 115.6655563697085}}}, 'icon': 'https://maps.gstatic.com/mapfiles/place_api/icons/v1/png_71/lodging-71.png', 'name': 'Jufude Hotel', 'place_id': 'ChIJ2ziLldMywzURvRPujGM16NA', 'plus_code': {'compound_code': '6MR8+CQ Shen County, Liaocheng, Shandong, China', 'global_code': '8P8Q6MR8+CQ'}, 'reference': 'ChIJ2ziLldMywzURvRPujGM16NA', 'scope': 'GOOGLE', 'types': ['lodging', 'point_of_interest', 'establishment'], 'vicinity': 'Zhen Xing Jie, Shenxian, Liaocheng Shi'}, {'business_status': 'OPERATIONAL', 'geometry': {'location': {'lat': 36.241356, 'lng': 115.665825}, 'viewport': {'northeast': {'lat': 36.2426395802915, 'lng': 115.6676491802915}, 'southwest': {'lat': 36.2399416197085, 'lng': 115.6649512197085}}}, 'icon': 'https://maps.gstatic.com/mapfiles/place_api/icons/v1/png_71/lodging-71.png', 'name': 'Hanlin Boutique Hotel', 'place_id': 'ChIJAYsCoNMywzUR0yCZVmakuqY', 'plus_code': {'compound_code': '6MR8+G8 Shen County, Liaocheng, Shandong, China', 'global_code': '8P8Q6MR8+G8'}, 'reference': 'ChIJAYsCoNMywzUR0yCZVmakuqY', 'scope': 'GOOGLE', 'types': ['lodging', 'point_of_interest', 'establishment'], 'vicinity': 'Northwest corner of government street land office intersection, 莘县'}, {'business_status': 'OPERATIONAL', 'geometry': {'location': {'lat': 36.2393853, 'lng': 115.6645315}, 'viewport': {'northeast': {'lat': 36.24077768029149, 'lng': 115.6658942802915}, 'southwest': {'lat': 36.2380797197085, 'lng': 115.6631963197085}}}, 'icon': 'https://maps.gstatic.com/mapfiles/place_api/icons/v1/png_71/lodging-71.png', 'name': 'Huachang Hotel', 'place_id': 'ChIJ10ZVlNQywzURuWD7M5mtxuI', 'plus_code': {'compound_code': '6MQ7+QR Shen County, Liaocheng, Shandong, China', 'global_code': '8P8Q6MQ7+QR'}, 'reference': 'ChIJ10ZVlNQywzURuWD7M5mtxuI', 'scope': 'GOOGLE', 'types': ['lodging', 'point_of_interest', 'establishment'], 'vicinity': 'Zhen Xing Jie, Shenxian, Liaocheng Shi'}, {'business_status': 'OPERATIONAL', 'geometry': {'location': {'lat': 36.238389, 'lng': 115.6692302}, 'viewport': {'northeast': {'lat': 36.2397812802915, 'lng': 115.6705934302915}, 'southwest': {'lat': 36.2370833197085, 'lng': 115.6678954697085}}}, 'icon': 'https://maps.gstatic.com/mapfiles/place_api/icons/v1/png_71/lodging-71.png', 'name': 'Zhenxing Hotel', 'place_id': 'ChIJh3Xqo9YywzURZtpP4g10A7g', 'plus_code': {'compound_code': '6MQ9+9M Shen County, Liaocheng, Shandong, China', 'global_code': '8P8Q6MQ9+9M'}, 'reference': 'ChIJh3Xqo9YywzURZtpP4g10A7g', 'scope': 'GOOGLE', 'types': ['lodging', 'point_of_interest', 'establishment'], 'vicinity': 'Zhen Xing Jie, Shenxian, Liaocheng Shi'}, {'business_status': 'OPERATIONAL', 'geometry': {'location': {'lat': 36.2383494, 'lng': 115.669415}, 'viewport': {'northeast': {'lat': 36.2397416802915, 'lng': 115.6707782302915}, 'southwest': {'lat': 36.2370437197085, 'lng': 115.6680802697085}}}, 'icon': 'https://maps.gstatic.com/mapfiles/place_api/icons/v1/png_71/lodging-71.png', 'name': 'Kanghui Hotel', 'place_id': 'ChIJIzlro9YywzURQxkTzt1oVKo', 'plus_code': {'compound_code': '6MQ9+8Q Shen County, Liaocheng, Shandong, China', 'global_code': '8P8Q6MQ9+8Q'}, 'reference': 'ChIJIzlro9YywzURQxkTzt1oVKo', 'scope': 'GOOGLE', 'types': ['lodging', 'point_of_interest', 'establishment'], 'vicinity': 'Zhen Xing Jie, Shenxian, Liaocheng Shi'}, {'business_status': 'OPERATIONAL', 'geometry': {'location': {'lat': 36.2383196, 'lng': 115.6695541}, 'viewport': {'northeast': {'lat': 36.2397118302915, 'lng': 115.6709174802915}, 'southwest': {'lat': 36.2370138697085, 'lng': 115.6682195197085}}}, 'icon': 'https://maps.gstatic.com/mapfiles/place_api/icons/v1/png_71/lodging-71.png', 'name': 'Deyue Building Hotel', 'place_id': 'ChIJ01u2vNYywzURj2On4ONN8NE', 'plus_code': {'compound_code': '6MQ9+8R Shen County, Liaocheng, Shandong, China', 'global_code': '8P8Q6MQ9+8R'}, 'reference': 'ChIJ01u2vNYywzURj2On4ONN8NE', 'scope': 'GOOGLE', 'types': ['lodging', 'point_of_interest', 'establishment'], 'vicinity': 'Zhen Xing Jie, Shenxian, Liaocheng Shi'}, {'business_status': 'OPERATIONAL', 'geometry': {'location': {'lat': 36.24537399999999, 'lng': 115.6674324}, 'viewport': {'northeast': {'lat': 36.2466779302915, 'lng': 115.6687764802915}, 'southwest': {'lat': 36.2439799697085, 'lng': 115.6660785197085}}}, 'icon': 'https://maps.gstatic.com/mapfiles/place_api/icons/v1/png_71/lodging-71.png', 'name': 'Beiyuan Hotel', 'place_id': 'ChIJ58QK7c0ywzURJERivw_nt5M', 'plus_code': {'compound_code': '6MW8+4X Shen County, Liaocheng, Shandong, China', 'global_code': '8P8Q6MW8+4X'}, 'reference': 'ChIJ58QK7c0ywzURJERivw_nt5M', 'scope': 'GOOGLE', 'types': ['lodging', 'point_of_interest', 'establishment'], 'vicinity': '北环路, Shenxian, Liaocheng Shi'}, {'business_status': 'OPERATIONAL', 'geometry': {'location': {'lat': 36.24525120000001, 'lng': 115.6692969}, 'viewport': {'northeast': {'lat': 36.2465552302915, 'lng': 115.6706419302915}, 'southwest': {'lat': 36.2438572697085, 'lng': 115.6679439697085}}}, 'icon': 'https://maps.gstatic.com/mapfiles/place_api/icons/v1/png_71/lodging-71.png', 'name': 'Golden Emperor Hotel', 'place_id': 'ChIJ26fMDc4ywzURSjmC0GnHWWg', 'plus_code': {'compound_code': '6MW9+4P Shen County, Liaocheng, Shandong, China', 'global_code': '8P8Q6MW9+4P'}, 'reference': 'ChIJ26fMDc4ywzURSjmC0GnHWWg', 'scope': 'GOOGLE', 'types': ['lodging', 'point_of_interest', 'establishment'], 'vicinity': '北环路, Shenxian, Liaocheng Shi'}, {'business_status': 'OPERATIONAL', 'geometry': {'location': {'lat': 36.2447, 'lng': 115.661174}, 'viewport': {'northeast': {'lat': 36.2460610802915, 'lng': 115.6624079802915}, 'southwest': {'lat': 36.2433631197085, 'lng': 115.6597100197085}}}, 'icon': 'https://maps.gstatic.com/mapfiles/place_api/icons/v1/png_71/lodging-71.png', 'name': 'Liuzhuang Restaurant', 'place_id': 'ChIJjXvLFS3N3DUR5E3PDwRyZgA', 'plus_code': {'compound_code': '6MV6+VF Shen County, Liaocheng, Shandong, China', 'global_code': '8P8Q6MV6+VF'}, 'reference': 'ChIJjXvLFS3N3DUR5E3PDwRyZgA', 'scope': 'GOOGLE', 'types': ['lodging', 'point_of_interest', 'establishment'], 'vicinity': '北环路, Shenxian, Liaocheng Shi'}, {'business_status': 'OPERATIONAL', 'geometry': {'location': {'lat': 36.238218, 'lng': 115.673827}, 'viewport': {'northeast': {'lat': 36.2395203302915, 'lng': 115.6751436302915}, 'southwest': {'lat': 36.23682236970851, 'lng': 115.6724456697085}}}, 'icon': 'https://maps.gstatic.com/mapfiles/place_api/icons/v1/png_71/lodging-71.png', 'name': 'Shenxian Hotel', 'place_id': 'ChIJrbo3TdcywzURYrkTwevB0ec', 'plus_code': {'compound_code': '6MQF+7G Shen County, Liaocheng, Shandong, China', 'global_code': '8P8Q6MQF+7G'}, 'reference': 'ChIJrbo3TdcywzURYrkTwevB0ec', 'scope': 'GOOGLE', 'types': ['lodging', 'point_of_interest', 'establishment'], 'vicinity': '24 Zhen Xing Jie, Shenxian, Liaocheng Shi'}, {'business_status': 'OPERATIONAL', 'geometry': {'location': {'lat': 36.23748990000001, 'lng': 115.6735067}, 'viewport': {'northeast': {'lat': 36.23887618029151, 'lng': 115.6748674802915}, 'southwest': {'lat': 36.23617821970851, 'lng': 115.6721695197085}}}, 'icon': 'https://maps.gstatic.com/mapfiles/place_api/icons/v1/png_71/lodging-71.png', 'name': 'Tongxin Hotel', 'place_id': 'ChIJtx61RtcywzURuz1FIPlAVP4', 'plus_code': {'compound_code': '6MPF+XC Shen County, Liaocheng, Shandong, China', 'global_code': '8P8Q6MPF+XC'}, 'reference': 'ChIJtx61RtcywzURuz1FIPlAVP4', 'scope': 'GOOGLE', 'types': ['lodging', 'point_of_interest', 'establishment'], 'vicinity': 'Zhen Xing Jie, Shenxian, Liaocheng Shi'}, {'business_status': 'OPERATIONAL', 'geometry': {'location': {'lat': 36.247933, 'lng': 115.668436}, 'viewport': {'northeast': {'lat': 36.2492947302915, 'lng': 115.6696904802915}, 'southwest': {'lat': 36.2465967697085, 'lng': 115.6669925197085}}}, 'icon': 'https://maps.gstatic.com/mapfiles/place_api/icons/v1/png_71/lodging-71.png', 'name': 'Qiyunchun Hotel', 'place_id': 'ChIJU62RJswywzURsoqt_uS1S7s', 'plus_code': {'compound_code': '6MX9+59 Shen County, Liaocheng, Shandong, China', 'global_code': '8P8Q6MX9+59'}, 'reference': 'ChIJU62RJswywzURsoqt_uS1S7s', 'scope': 'GOOGLE', 'types': ['lodging', 'point_of_interest', 'establishment'], 'vicinity': 'Shen County, Liaocheng'}, {'business_status': 'OPERATIONAL', 'geometry': {'location': {'lat': 36.2372963, 'lng': 115.6757623}, 'viewport': {'northeast': {'lat': 36.2386069302915, 'lng': 115.6770999302915}, 'southwest': {'lat': 36.2359089697085, 'lng': 115.6744019697085}}}, 'icon': 'https://maps.gstatic.com/mapfiles/place_api/icons/v1/png_71/lodging-71.png', 'name': 'Yingbin Hotel', 'place_id': 'ChIJwSDe89kywzURtdu-KMx28kM', 'plus_code': {'compound_code': '6MPG+W8 Shen County, Liaocheng, Shandong, China', 'global_code': '8P8Q6MPG+W8'}, 'reference': 'ChIJwSDe89kywzURtdu-KMx28kM', 'scope': 'GOOGLE', 'types': ['lodging', 'point_of_interest', 'establishment'], 'vicinity': 'Zhen Xing Jie, Shenxian, Liaocheng Shi'}, {'business_status': 'OPERATIONAL', 'geometry': {'location': {'lat': 36.23628, 'lng': 115.659336}, 'viewport': {'northeast': {'lat': 36.2376167802915, 'lng': 115.6608128802915}, 'southwest': {'lat': 36.2349188197085, 'lng': 115.6581149197085}}}, 'icon': 'https://maps.gstatic.com/mapfiles/place_api/icons/v1/png_71/lodging-71.png', 'name': 'New Century Hotel', 'place_id': 'ChIJsQz0htXM3DURDSbhSV_FfmE', 'plus_code': {'compound_code': '6MP5+GP Shen County, Liaocheng, Shandong, China', 'global_code': '8P8Q6MP5+GP'}, 'reference': 'ChIJsQz0htXM3DURDSbhSV_FfmE', 'scope': 'GOOGLE', 'types': ['lodging', 'point_of_interest', 'establishment'], 'vicinity': 'Zheng Fu Jie, Shenxian, Liaocheng Shi'}, {'business_status': 'OPERATIONAL', 'geometry': {'location': {'lat': 36.234741, 'lng': 115.673215}, 'viewport': {'northeast': {'lat': 36.23615848029149, 'lng': 115.6745619302915}, 'southwest': {'lat': 36.23346051970849, 'lng': 115.6718639697085}}}, 'icon': 'https://maps.gstatic.com/mapfiles/place_api/icons/v1/png_71/lodging-71.png', 'name': 'The Hui People Hotel', 'place_id': 'ChIJi9x4ldcywzUR15vpodL4P3U', 'plus_code': {'compound_code': '6MMF+V7 Shen County, Liaocheng, Shandong, China', 'global_code': '8P8Q6MMF+V7'}, 'reference': 'ChIJi9x4ldcywzUR15vpodL4P3U', 'scope': 'GOOGLE', 'types': ['lodging', 'point_of_interest', 'establishment'], 'vicinity': 'Shen Ting Lu, Shenxian, Liaocheng Shi'}, {'business_status': 'OPERATIONAL', 'geometry': {'location': {'lat': 36.249048, 'lng': 115.668997}, 'viewport': {'northeast': {'lat': 36.25043133029151, 'lng': 115.6700910302915}, 'southwest': {'lat': 36.24773336970851, 'lng': 115.6673930697085}}}, 'icon': 'https://maps.gstatic.com/mapfiles/place_api/icons/v1/png_71/lodging-71.png', 'name': 'Liaocheng Ruichi Business Hotel', 'place_id': 'ChIJIcAcqc4ywzURd_YGevtgdB4', 'plus_code': {'compound_code': '6MX9+JH Shen County, Liaocheng, Shandong, China', 'global_code': '8P8Q6MX9+JH'}, 'reference': 'ChIJIcAcqc4ywzURd_YGevtgdB4', 'scope': 'GOOGLE', 'types': ['lodging', 'point_of_interest', 'establishment'], 'vicinity': '新华路北侧, Xin Hua Lu, Shenxian, Liaocheng Shi'}, {'business_status': 'OPERATIONAL', 'geometry': {'location': {'lat': 36.239127, 'lng': 115.677248}, 'viewport': {'northeast': {'lat': 36.24044523029151, 'lng': 115.6787492802915}, 'southwest': {'lat': 36.23774726970851, 'lng': 115.6760513197085}}}, 'icon': 'https://maps.gstatic.com/mapfiles/place_api/icons/v1/png_71/lodging-71.png', 'name': 'Jinhe Hotel', 'place_id': 'ChIJH0mgTtoywzURhXR9FtiMPAQ', 'plus_code': {'compound_code': '6MQG+MV Shen County, Liaocheng, Shandong, China', 'global_code': '8P8Q6MQG+MV'}, 'reference': 'ChIJH0mgTtoywzURhXR9FtiMPAQ', 'scope': 'GOOGLE', 'types': ['lodging', 'point_of_interest', 'establishment'], 'vicinity': 'Tong Yun Lu, Shenxian, Liaocheng Shi'}, {'business_status': 'OPERATIONAL', 'geometry': {'location': {'lat': 36.2384366, 'lng': 115.6772332}, 'viewport': {'northeast': {'lat': 36.2397736302915, 'lng': 115.6786388802915}, 'southwest': {'lat': 36.2370756697085, 'lng': 115.6759409197085}}}, 'icon': 'https://maps.gstatic.com/mapfiles/place_api/icons/v1/png_71/lodging-71.png', 'name': 'Luxi Restaurant', 'place_id': 'ChIJPckrN9oywzURsdlNR9UMC2s', 'plus_code': {'compound_code': '6MQG+9V Shen County, Liaocheng, Shandong, China', 'global_code': '8P8Q6MQG+9V'}, 'reference': 'ChIJPckrN9oywzURsdlNR9UMC2s', 'scope': 'GOOGLE', 'types': ['lodging', 'point_of_interest', 'establishment'], 'vicinity': 'Tong Yun Lu, Shenxian, Liaocheng Shi'}, {'business_status': 'OPERATIONAL', 'geometry': {'location': {'lat': 36.2413009, 'lng': 115.6565961}, 'viewport': {'northeast': {'lat': 36.24260628029149, 'lng': 115.6579307302915}, 'southwest': {'lat': 36.2399083197085, 'lng': 115.6552327697085}}}, 'icon': 'https://maps.gstatic.com/mapfiles/place_api/icons/v1/png_71/lodging-71.png', 'name': 'Sanyou Restaurant', 'place_id': 'ChIJR5KfWSnN3DUR9OzObB_H2fc', 'plus_code': {'compound_code': '6MR4+GJ Shen County, Liaocheng, Shandong, China', 'global_code': '8P8Q6MR4+GJ'}, 'reference': 'ChIJR5KfWSnN3DUR9OzObB_H2fc', 'scope': 'GOOGLE', 'types': ['lodging', 'point_of_interest', 'establishment'], 'vicinity': 'Zhen Xing Jie, Shenxian, Liaocheng Shi'}, {'business_status': 'OPERATIONAL', 'geometry': {'location': {'lat': 36.23247370000001, 'lng': 115.6651422}, 'viewport': {'northeast': {'lat': 36.2338296302915, 'lng': 115.6664359802915}, 'southwest': {'lat': 36.2311316697085, 'lng': 115.6637380197085}}}, 'icon': 'https://maps.gstatic.com/mapfiles/place_api/icons/v1/png_71/lodging-71.png', 'name': 'Xinlong Restaurant', 'place_id': 'ChIJaeD9AiszwzURVlmsGKRRiOQ', 'plus_code': {'compound_code': '6MJ8+X3 Shen County, Liaocheng, Shandong, China', 'global_code': '8P8Q6MJ8+X3'}, 'reference': 'ChIJaeD9AiszwzURVlmsGKRRiOQ', 'scope': 'GOOGLE', 'types': ['lodging', 'point_of_interest', 'establishment'], 'vicinity': 'Xin Hua Lu, Shenxian, Liaocheng Shi'}], 'status': 'OK'}

In [100]:
#NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

KeyError: 'Country'

In [ ]:
# Add marker layer ontop of heat map


# Display figure