In [1]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from api_keys import g_key

In [2]:
#Store Part 1 results into DataFrame
#Load th CSV exported in Part 1 into a dataframe
csv_path = r'cities2.csv'
cities_df = pd.read_csv(csv_path)
print(len(cities_df))

581

In [3]:
cities_df.head()

,City,LAT,LON,Weather,Desription,Temp,Temp Feels,Temp Min,Temp Max,Pressure,Humidity,Visibility,Clouds,Wind Speed,country
0,São Raimundo das Mangabeiras,-7.0219,-45.4811,Clouds,broken clouds,295.78,296.37,295.78,295.78,1011,87,10000,67,0.44,BR
1,Pangnirtung,66.1451,-65.7125,Snow,light snow,274.63,271.37,274.63,274.63,1026,83,10000,100,3.07,CA
2,Kavos,38.8268,22.8322,Clouds,few clouds,285.72,285.64,283.15,288.15,1013,100,10000,20,0.56,GR
3,Dikson,73.5069,80.5464,Clouds,overcast clouds,265.00,258.72,265.00,265.00,1007,87,10000,96,4.15,RU
4,Bol,13.4586,14.7147,Clouds,broken clouds,299.51,299.51,299.51,299.51,1007,36,10000,57,6.63,TD

In [4]:
#Configure gmaps.
gmaps.configure(api_key=g_key)
# Use the Lat and Lng as locations and Humidity as the weight.
locations = cities_df[["LAT", "LON"]].astype(float)
humidity = cities_df["Humidity"].astype(float)
# Add Heatmap layer to map.
fig = gmaps.figure()

heat_layer = gmaps.heatmap_layer(locations, weights=humidity, 
                                 dissipating=False, max_intensity=100,
                                 point_radius = 1)

fig.add_layer(heat_layer)
fig

Figure(layout=FigureLayout(height='420px'))

In [5]:
#CREATE NEW DATA FRAME FITTING WEATHER CRITERIA
#Narrow down the cities to fit weather conditions.
#ideal weather conditions are between 70-90 degrees F (the measurements are in Kelvin)
ideal_weather= cities_df.loc[(cities_df['Temp'] <= 305.72) & (cities_df['Temp'] >= 294.26) & (cities_df['Clouds'] <=5)]

# Drop any rows will null values.
ideal_weather.dropna()
ideal_weather

,City,LAT,LON,Weather,Desription,Temp,Temp Feels,Temp Min,Temp Max,Pressure,Humidity,Visibility,Clouds,Wind Speed,country
38,Dezful,32.3811,48.4058,Clear,clear sky,302.25,300.59,302.25,302.25,1010,14,10000,0,0.73,IR
142,Mayo,38.8876,-76.5119,Clear,clear sky,294.76,294.54,292.59,297.15,1010,60,10000,1,1.54,US
152,Port Augusta,-32.5000,137.7667,Clear,clear sky,297.62,296.93,296.15,298.15,1022,31,10000,0,3.60,AU
171,Dawlatabad,36.4141,64.9053,Clear,clear sky,304.92,302.72,304.92,304.92,1010,11,10000,0,1.08,AF
181,Saint-Pierre,-21.3393,55.4781,Clear,clear sky,299.71,299.71,299.26,300.15,1017,74,10000,0,8.75,RE
187,Adrar,20.5022,-10.0711,Clear,clear sky,299.25,299.25,299.25,299.25,1008,20,10000,4,5.02,MR
188,Saint-Philippe,-21.3585,55.7679,Rain,light rain,299.55,299.55,299.15,300.15,1017,74,10000,0,8.75,RE
219,Nurota,40.5614,65.6886,Clear,clear sky,301.15,300.08,301.15,301.15,1011,26,10000,5,4.12,UZ
237,Mount Isa,-20.7333,139.5000,Clear,clear sky,304.15,302.16,304.15,304.15,1014,18,10000,1,2.57,AU
247,Carnarvon,-24.8667,113.6333,Clear,clear sky,300.15,301.60,300.15,300.15,1015,65,10000,1,4.63,AU
257,Saint-Joseph,-21.3667,55.6167,Rain,light rain,299.69,299.69,299.26,300.15,1017,74,10000,0,8.75,RE
260,Viranşehir,37.2353,39.7631,Clear,clear sky,298.26,297.61,298.26,298.26,1014,30,10000,1,3.21,TR
309,Birin,26.8865,88.0718,Clear,clear sky,300.78,299.62,300.78,300.78,1013,19,10000,1,3.45,NP
311,Ajdabiya,30.7554,20.2263,Clear,clear sky,298.11,296.95,298.11,298.11,1014,11,10000,4,4.76,LY
317,Aksu,41.1231,80.2644,Clear,clear sky,299.15,299.15,299.15,299.15,1013,9,10000,0,0.61,CN
324,Arrah,25.5667,84.6667,Haze,haze,303.15,303.89,303.15,303.15,1009,48,4000,3,5.14,IN
344,Yangi Marg`ilon,40.4272,71.7189,Clear,clear sky,302.15,300.53,302.15,302.15,1013,16,10000,0,1.03,UZ
345,Yazoo City,32.8551,-90.4056,Clear,clear sky,296.05,296.30,295.93,296.15,1015,73,10000,1,4.63,US
361,Oytal,42.9057,73.2697,Clear,clear sky,300.17,299.47,300.17,300.17,1012,27,10000,0,1.86,KZ
462,Morondava,-20.2833,44.2833,Clear,clear sky,298.97,299.44,298.97,298.97,1014,70,10000,1,2.66,MG
525,Ipixuna,-1.7625,-48.8043,Clear,clear sky,298.15,299.16,298.15,298.15,1012,94,10000,0,2.06,BR
537,Celestún,20.8667,-90.4000,Clear,clear sky,300.93,302.08,300.93,300.93,1010,58,10000,0,7.57,MX
546,Belmopan,17.2500,-88.7667,Clear,clear sky,299.64,299.64,299.15,300.37,1013,73,10000,0,1.56,BZ
570,Kannapolis,35.4874,-80.6217,Clear,clear sky,294.70,294.58,293.71,295.37,1018,64,10000,1,2.57,US

In [6]:
#HOTEL MAP
#Store into variable named hotel_df.
# Add a "Hotel Name" column to the DataFrame.
hotel_df = pd.DataFrame(ideal_weather)
hotel_df.insert(14,'Hotel Name', value = '')
hotel_df

,City,LAT,LON,Weather,Desription,Temp,Temp Feels,Temp Min,Temp Max,Pressure,Humidity,Visibility,Clouds,Wind Speed,Hotel Name,country
38,Dezful,32.3811,48.4058,Clear,clear sky,302.25,300.59,302.25,302.25,1010,14,10000,0,0.73,,IR
142,Mayo,38.8876,-76.5119,Clear,clear sky,294.76,294.54,292.59,297.15,1010,60,10000,1,1.54,,US
152,Port Augusta,-32.5000,137.7667,Clear,clear sky,297.62,296.93,296.15,298.15,1022,31,10000,0,3.60,,AU
171,Dawlatabad,36.4141,64.9053,Clear,clear sky,304.92,302.72,304.92,304.92,1010,11,10000,0,1.08,,AF
181,Saint-Pierre,-21.3393,55.4781,Clear,clear sky,299.71,299.71,299.26,300.15,1017,74,10000,0,8.75,,RE
187,Adrar,20.5022,-10.0711,Clear,clear sky,299.25,299.25,299.25,299.25,1008,20,10000,4,5.02,,MR
188,Saint-Philippe,-21.3585,55.7679,Rain,light rain,299.55,299.55,299.15,300.15,1017,74,10000,0,8.75,,RE
219,Nurota,40.5614,65.6886,Clear,clear sky,301.15,300.08,301.15,301.15,1011,26,10000,5,4.12,,UZ
237,Mount Isa,-20.7333,139.5000,Clear,clear sky,304.15,302.16,304.15,304.15,1014,18,10000,1,2.57,,AU
247,Carnarvon,-24.8667,113.6333,Clear,clear sky,300.15,301.60,300.15,300.15,1015,65,10000,1,4.63,,AU
257,Saint-Joseph,-21.3667,55.6167,Rain,light rain,299.69,299.69,299.26,300.15,1017,74,10000,0,8.75,,RE
260,Viranşehir,37.2353,39.7631,Clear,clear sky,298.26,297.61,298.26,298.26,1014,30,10000,1,3.21,,TR
309,Birin,26.8865,88.0718,Clear,clear sky,300.78,299.62,300.78,300.78,1013,19,10000,1,3.45,,NP
311,Ajdabiya,30.7554,20.2263,Clear,clear sky,298.11,296.95,298.11,298.11,1014,11,10000,4,4.76,,LY
317,Aksu,41.1231,80.2644,Clear,clear sky,299.15,299.15,299.15,299.15,1013,9,10000,0,0.61,,CN
324,Arrah,25.5667,84.6667,Haze,haze,303.15,303.89,303.15,303.15,1009,48,4000,3,5.14,,IN
344,Yangi Marg`ilon,40.4272,71.7189,Clear,clear sky,302.15,300.53,302.15,302.15,1013,16,10000,0,1.03,,UZ
345,Yazoo City,32.8551,-90.4056,Clear,clear sky,296.05,296.30,295.93,296.15,1015,73,10000,1,4.63,,US
361,Oytal,42.9057,73.2697,Clear,clear sky,300.17,299.47,300.17,300.17,1012,27,10000,0,1.86,,KZ
462,Morondava,-20.2833,44.2833,Clear,clear sky,298.97,299.44,298.97,298.97,1014,70,10000,1,2.66,,MG
525,Ipixuna,-1.7625,-48.8043,Clear,clear sky,298.15,299.16,298.15,298.15,1012,94,10000,0,2.06,,BR
537,Celestún,20.8667,-90.4000,Clear,clear sky,300.93,302.08,300.93,300.93,1010,58,10000,0,7.57,,MX
546,Belmopan,17.2500,-88.7667,Clear,clear sky,299.64,299.64,299.15,300.37,1013,73,10000,0,1.56,,BZ
570,Kannapolis,35.4874,-80.6217,Clear,clear sky,294.70,294.58,293.71,295.37,1018,64,10000,1,2.57,,US

In [39]:


# Set parameters to search for hotels with 5000 meters.
for index, row in hotel_df.iterrows():
    try:
        base_url = 'https://maps.googleapis.com/maps/api/place/nearbysearch/json'
        radius = 5000
        city = row['City']
        lat = row['LAT']
        lon = row['LON']
        location = f'{lat},{lon}'
        params = {
        'location': location,   
        'rankby': 'distance',
        'type': 'lodging',
        'radious': radius,
        'key':g_key

}
        response = requests.get(base_url, params=params).json()
        hotel_df.loc[index, "Hotel Name"] = response['results'][0]['name']
    except IndexError:  
        hotel_df.loc['Hotel Name'] = 'NA'
hotel_df
    
# Hit the Google Places API for each city's coordinates.Store the first Hotel result into the DataFrame.

,City,LAT,LON,Weather,Desription,Temp,Temp Feels,Temp Min,Temp Max,Pressure,Humidity,Visibility,Clouds,Wind Speed,Hotel Name,country
38,Dezful,32.3811,48.4058,Clear,clear sky,302.25,300.59,302.25,302.25,1010,14,10000,0,0.73,مرکز ماساژ ارامش,IR
142,Mayo,38.8876,-76.5119,Clear,clear sky,294.76,294.54,292.59,297.15,1010,60,10000,1,1.54,Resorts Resource Group International,US
152,Port Augusta,-32.5,137.767,Clear,clear sky,297.62,296.93,296.15,298.15,1022,31,10000,0,3.6,Sip'n Save - Pastoral Hotel,AU
171,Dawlatabad,36.4141,64.9053,Clear,clear sky,304.92,302.72,304.92,304.92,1010,11,10000,0,1.08,WASIM ASGAR KHAN,AF
181,Saint-Pierre,-21.3393,55.4781,Clear,clear sky,299.71,299.71,299.26,300.15,1017,74,10000,0,8.75,FLORIRI,RE
187,Adrar,20.5022,-10.0711,Clear,clear sky,299.25,299.25,299.25,299.25,1008,20,10000,4,5.02,,MR
188,Saint-Philippe,-21.3585,55.7679,Rain,light rain,299.55,299.55,299.15,300.15,1017,74,10000,0,8.75,"Chambres d'hôte ""La Trinité""",RE
219,Nurota,40.5614,65.6886,Clear,clear sky,301.15,300.08,301.15,301.15,1011,26,10000,5,4.12,Ruslan Guest house Nurata toure,UZ
237,Mount Isa,-20.7333,139.5,Clear,clear sky,304.15,302.16,304.15,304.15,1014,18,10000,1,2.57,Searfle Kindom,AU
247,Carnarvon,-24.8667,113.633,Clear,clear sky,300.15,301.6,300.15,300.15,1015,65,10000,1,4.63,Tilly Gia home sweet home,AU
257,Saint-Joseph,-21.3667,55.6167,Rain,light rain,299.69,299.69,299.26,300.15,1017,74,10000,0,8.75,Maison RUN,RE
260,Viranşehir,37.2353,39.7631,Clear,clear sky,298.26,297.61,298.26,298.26,1014,30,10000,1,3.21,Otel Cihan,TR
309,Birin,26.8865,88.0718,Clear,clear sky,300.78,299.62,300.78,300.78,1013,19,10000,1,3.45,Sangam hotel and lodge,NP
311,Ajdabiya,30.7554,20.2263,Clear,clear sky,298.11,296.95,298.11,298.11,1014,11,10000,4,4.76,Almadina Hotel,LY
317,Aksu,41.1231,80.2644,Clear,clear sky,299.15,299.15,299.15,299.15,1013,9,10000,0,0.61,Duolang Bridge Hotel,CN
324,Arrah,25.5667,84.6667,Haze,haze,303.15,303.89,303.15,303.15,1009,48,4000,3,5.14,बनारसी रेस्ट हाउस,IN
344,Yangi Marg`ilon,40.4272,71.7189,Clear,clear sky,302.15,300.53,302.15,302.15,1013,16,10000,0,1.03,Янги Маргилан,UZ
345,Yazoo City,32.8551,-90.4056,Clear,clear sky,296.05,296.3,295.93,296.15,1015,73,10000,1,4.63,Forestry Department,US
361,Oytal,42.9057,73.2697,Clear,clear sky,300.17,299.47,300.17,300.17,1012,27,10000,0,1.86,Sanatorium Ak-Niet,KZ
462,Morondava,-20.2833,44.2833,Clear,clear sky,298.97,299.44,298.97,298.97,1014,70,10000,1,2.66,Hotel Sharone,MG
525,Ipixuna,-1.7625,-48.8043,Clear,clear sky,298.15,299.16,298.15,298.15,1012,94,10000,0,2.06,Casa da Oscarina,BR
537,Celestún,20.8667,-90.4,Clear,clear sky,300.93,302.08,300.93,300.93,1010,58,10000,0,7.57,Eco Hotel Flamingo Playa,MX
546,Belmopan,17.25,-88.7667,Clear,clear sky,299.64,299.64,299.15,300.37,1013,73,10000,0,1.56,St. Ann's Guesthouse,BZ
570,Kannapolis,35.4874,-80.6217,Clear,clear sky,294.7,294.58,293.71,295.37,1018,64,10000,1,2.57,The Mill Inn,US
Hotel Name,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA

In [ ]:
hotel_df = pd.DataFrame(hotel_df)

In [44]:
hotel_df = hotel_df.iloc[:-1, :]
hotel_df

,City,LAT,LON,Weather,Desription,Temp,Temp Feels,Temp Min,Temp Max,Pressure,Humidity,Visibility,Clouds,Wind Speed,Hotel Name,country
38,Dezful,32.3811,48.4058,Clear,clear sky,302.25,300.59,302.25,302.25,1010,14,10000,0,0.73,مرکز ماساژ ارامش,IR
142,Mayo,38.8876,-76.5119,Clear,clear sky,294.76,294.54,292.59,297.15,1010,60,10000,1,1.54,Resorts Resource Group International,US
152,Port Augusta,-32.5,137.767,Clear,clear sky,297.62,296.93,296.15,298.15,1022,31,10000,0,3.6,Sip'n Save - Pastoral Hotel,AU
171,Dawlatabad,36.4141,64.9053,Clear,clear sky,304.92,302.72,304.92,304.92,1010,11,10000,0,1.08,WASIM ASGAR KHAN,AF
181,Saint-Pierre,-21.3393,55.4781,Clear,clear sky,299.71,299.71,299.26,300.15,1017,74,10000,0,8.75,FLORIRI,RE
187,Adrar,20.5022,-10.0711,Clear,clear sky,299.25,299.25,299.25,299.25,1008,20,10000,4,5.02,,MR
188,Saint-Philippe,-21.3585,55.7679,Rain,light rain,299.55,299.55,299.15,300.15,1017,74,10000,0,8.75,"Chambres d'hôte ""La Trinité""",RE
219,Nurota,40.5614,65.6886,Clear,clear sky,301.15,300.08,301.15,301.15,1011,26,10000,5,4.12,Ruslan Guest house Nurata toure,UZ
237,Mount Isa,-20.7333,139.5,Clear,clear sky,304.15,302.16,304.15,304.15,1014,18,10000,1,2.57,Searfle Kindom,AU
247,Carnarvon,-24.8667,113.633,Clear,clear sky,300.15,301.6,300.15,300.15,1015,65,10000,1,4.63,Tilly Gia home sweet home,AU
257,Saint-Joseph,-21.3667,55.6167,Rain,light rain,299.69,299.69,299.26,300.15,1017,74,10000,0,8.75,Maison RUN,RE
260,Viranşehir,37.2353,39.7631,Clear,clear sky,298.26,297.61,298.26,298.26,1014,30,10000,1,3.21,Otel Cihan,TR
309,Birin,26.8865,88.0718,Clear,clear sky,300.78,299.62,300.78,300.78,1013,19,10000,1,3.45,Sangam hotel and lodge,NP
311,Ajdabiya,30.7554,20.2263,Clear,clear sky,298.11,296.95,298.11,298.11,1014,11,10000,4,4.76,Almadina Hotel,LY
317,Aksu,41.1231,80.2644,Clear,clear sky,299.15,299.15,299.15,299.15,1013,9,10000,0,0.61,Duolang Bridge Hotel,CN
324,Arrah,25.5667,84.6667,Haze,haze,303.15,303.89,303.15,303.15,1009,48,4000,3,5.14,बनारसी रेस्ट हाउस,IN
344,Yangi Marg`ilon,40.4272,71.7189,Clear,clear sky,302.15,300.53,302.15,302.15,1013,16,10000,0,1.03,Янги Маргилан,UZ
345,Yazoo City,32.8551,-90.4056,Clear,clear sky,296.05,296.3,295.93,296.15,1015,73,10000,1,4.63,Forestry Department,US
361,Oytal,42.9057,73.2697,Clear,clear sky,300.17,299.47,300.17,300.17,1012,27,10000,0,1.86,Sanatorium Ak-Niet,KZ
462,Morondava,-20.2833,44.2833,Clear,clear sky,298.97,299.44,298.97,298.97,1014,70,10000,1,2.66,Hotel Sharone,MG
525,Ipixuna,-1.7625,-48.8043,Clear,clear sky,298.15,299.16,298.15,298.15,1012,94,10000,0,2.06,Casa da Oscarina,BR
537,Celestún,20.8667,-90.4,Clear,clear sky,300.93,302.08,300.93,300.93,1010,58,10000,0,7.57,Eco Hotel Flamingo Playa,MX
546,Belmopan,17.25,-88.7667,Clear,clear sky,299.64,299.64,299.15,300.37,1013,73,10000,0,1.56,St. Ann's Guesthouse,BZ
570,Kannapolis,35.4874,-80.6217,Clear,clear sky,294.7,294.58,293.71,295.37,1018,64,10000,1,2.57,The Mill Inn,US

In [45]:
#NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
response = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["LAT", "LON"]]

In [52]:
#Create variable for heat map
temperature = hotel_df['Humidity'].astype(float)

In [53]:
# Plot markers on top of the heatmap.
fig=gmaps.figure()
markers=gmaps.marker_layer(locations, info_box_content=response)
heat_layer = gmaps.heatmap_layer(locations, weights=temperature, 
                                 dissipating=False, max_intensity=100,
                                 point_radius = 1)
fig.add_layer(markers)
fig.add_layer(heat_layer)
fig

Figure(layout=FigureLayout(height='420px'))