In [19]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from api_keys import g_key

In [20]:
#Store Part 1 results into DataFrame
#Load th CSV exported in Part 1 into a dataframe
csv_path = r'cities.csv'
cities_df = pd.read_csv(csv_path)
print(len(cities_df))

597

In [21]:
cities_df.head()

,City,LAT,LON,Weather,Desription,Temp,Temp Feels,Temp Min,Temp Max,Pressure,Humidity,Visibility,Clouds,Wind Speed
0,Klyuchi,52.2667,79.1667,Clouds,broken clouds,291.89,291.20,291.89,291.89,1010,53,10000,83,3.10
1,Tigil',57.8000,158.6667,Clouds,overcast clouds,278.73,277.22,278.73,278.73,1016,90,10000,100,1.97
2,Bowmore,34.9421,-79.3031,Clear,clear sky,295.53,295.49,295.15,296.15,1017,64,10000,1,4.63
3,New Norfolk,-42.7826,147.0587,Clouds,broken clouds,290.60,290.39,287.59,293.15,1019,76,10000,66,0.45
4,Khatanga,71.9667,102.5000,Clouds,overcast clouds,274.34,270.51,274.34,274.34,1007,98,10000,100,3.73

In [22]:
#Configure gmaps.
gmaps.configure(api_key=g_key)
# Use the Lat and Lng as locations and Humidity as the weight.
locations = cities_df[["LAT", "LON"]].astype(float)
humidity = cities_df["Humidity"].astype(float)
# Add Heatmap layer to map.
fig = gmaps.figure()

heat_layer = gmaps.heatmap_layer(locations, weights=humidity, 
                                 dissipating=False, max_intensity=100,
                                 point_radius = 1)

fig.add_layer(heat_layer)
fig

Figure(layout=FigureLayout(height='420px'))

In [23]:
#CREATE NEW DATA FRAME FITTING WEATHER CRITERIA
#Narrow down the cities to fit weather conditions.
#ideal weather conditions are between 70-90 degrees F (the measurements are in Kelvin)
ideal_weather= cities_df.loc[(cities_df['Temp'] <= 305.72) & (cities_df['Temp'] >= 294.26) & (cities_df['Clouds'] <=5)]

# Drop any rows will null values.
ideal_weather.dropna()
ideal_weather

,City,LAT,LON,Weather,Desription,Temp,Temp Feels,Temp Min,Temp Max,Pressure,Humidity,Visibility,Clouds,Wind Speed
2,Bowmore,34.9421,-79.3031,Clear,clear sky,295.53,295.49,295.15,296.15,1017,64,10000,1,4.63
75,Carnarvon,-24.8667,113.6333,Clear,clear sky,300.15,301.60,300.15,300.15,1015,65,10000,1,4.63
79,Yangi Marg`ilon,40.4272,71.7189,Clear,clear sky,300.15,299.21,300.15,300.15,1013,19,10000,0,1.03
105,Beidao,34.5686,105.8933,Clear,clear sky,297.44,296.45,297.44,297.44,1012,20,10000,1,2.40
114,Yunyang,33.4474,112.7142,Clear,clear sky,301.89,300.50,301.89,301.89,1006,23,10000,5,7.37
130,Mayo,38.8876,-76.5119,Clear,clear sky,294.73,294.51,292.59,297.15,1010,60,10000,1,1.54
133,Condado,21.8767,-79.8403,Rain,light rain,298.49,298.99,297.15,299.15,1017,73,10000,2,3.09
142,Balkhash,46.8440,74.9804,Clear,clear sky,297.15,296.18,297.15,297.15,1013,22,10000,0,3.00
150,Saint-Philippe,-21.3585,55.7679,Rain,light rain,298.50,299.13,298.15,299.15,1017,78,10000,0,9.26
183,Abu Dhabi,24.4667,54.3667,Clear,clear sky,305.72,304.50,305.15,306.15,1009,29,10000,0,1.03
196,Saint-Pierre,-21.3393,55.4781,Clear,clear sky,298.65,299.29,298.15,299.15,1017,78,10000,0,9.26
234,Nioro,13.3500,-15.7500,Clear,clear sky,296.51,295.92,296.51,296.51,1009,39,10000,5,1.62
248,Adrar,20.5022,-10.0711,Clear,clear sky,299.25,299.25,299.25,299.25,1008,20,10000,4,5.02
280,Katherine,-14.4667,132.2667,Clear,clear sky,305.15,306.39,305.15,305.15,1012,45,10000,0,4.63
343,Laguna,38.4210,-121.4238,Clear,clear sky,294.46,293.43,294.15,295.15,1019,30,10000,1,4.12
356,Birjand,32.8663,59.2211,Clear,clear sky,299.15,299.15,299.15,299.15,1017,13,10000,0,6.17
374,Port Pirie,-33.1833,138.0167,Clear,clear sky,296.15,295.32,296.15,296.15,1022,31,10000,0,3.60
383,Port Maria,18.3685,-76.8895,Clear,clear sky,294.82,295.50,294.82,294.82,1014,94,10000,4,3.29
408,Morondava,-20.2833,44.2833,Clear,clear sky,298.97,299.44,298.97,298.97,1014,70,10000,1,2.66
427,Port Augusta,-32.5000,137.7667,Clear,clear sky,297.62,296.93,296.15,298.15,1022,31,10000,0,3.60
430,Herat Province,34.5000,62.0000,Clear,clear sky,298.15,297.28,298.15,298.15,1015,22,10000,0,2.57
431,Broken Hill,-31.9500,141.4333,Clear,clear sky,295.15,294.03,295.15,295.15,1022,24,10000,0,3.60
436,Bonito Oriental,15.7477,-85.7356,Clear,clear sky,295.99,296.39,295.99,295.99,1012,79,10000,4,1.45
448,Buraidah,26.3260,43.9750,Clear,clear sky,296.15,295.89,296.15,296.15,1016,53,6000,0,2.06
467,Salamiyah,35.0113,37.0532,Clear,clear sky,294.63,293.62,294.63,294.63,1017,30,10000,3,1.58
480,Merke,42.8728,73.1786,Clear,clear sky,300.27,299.46,300.27,300.27,1013,25,10000,0,1.64
503,Ambilobe,-13.2000,49.0500,Clear,clear sky,298.87,299.56,298.87,298.87,1013,79,10000,4,1.70
531,Miandrivazo,-19.5167,45.4667,Clear,clear sky,298.79,299.21,298.79,298.79,1015,69,10000,0,1.54
536,Yulara,-25.2406,130.9889,Clear,clear sky,298.15,297.20,298.15,298.15,1020,19,10000,0,4.63
539,Aksu,41.1231,80.2644,Clear,clear sky,299.15,299.15,299.15,299.15,1013,9,10000,0,0.61
545,Alice Springs,-23.7000,133.8833,Clear,clear sky,296.77,295.71,296.48,297.15,1019,20,10000,0,6.69
547,Abu Samrah,35.3029,37.1841,Clear,clear sky,294.65,293.67,294.65,294.65,1017,31,10000,4,1.79
555,Ridgecrest,35.6225,-117.6709,Clear,clear sky,295.15,293.61,294.15,295.93,1019,8,10000,1,4.12
558,KhƒÅsh,28.2211,61.2158,Clear,clear sky,299.11,299.11,299.11,299.11,1012,19,10000,1,2.05
578,Bilma,18.6853,12.9164,Clear,clear sky,300.84,299.52,300.84,300.84,1009,10,10000,5,3.19
587,Ajdabiya,30.7554,20.2263,Clear,clear sky,298.11,296.95,298.11,298.11,1014,11,10000,4,4.76

In [24]:
#HOTEL MAP
#Store into variable named hotel_df.
# Add a "Hotel Name" column to the DataFrame.
hotel_df = pd.DataFrame(ideal_weather)
hotel_df.insert(14,'Hotel Name', value = '')
hotel_df

,City,LAT,LON,Weather,Desription,Temp,Temp Feels,Temp Min,Temp Max,Pressure,Humidity,Visibility,Clouds,Wind Speed,Hotel Name
2,Bowmore,34.9421,-79.3031,Clear,clear sky,295.53,295.49,295.15,296.15,1017,64,10000,1,4.63,
75,Carnarvon,-24.8667,113.6333,Clear,clear sky,300.15,301.60,300.15,300.15,1015,65,10000,1,4.63,
79,Yangi Marg`ilon,40.4272,71.7189,Clear,clear sky,300.15,299.21,300.15,300.15,1013,19,10000,0,1.03,
105,Beidao,34.5686,105.8933,Clear,clear sky,297.44,296.45,297.44,297.44,1012,20,10000,1,2.40,
114,Yunyang,33.4474,112.7142,Clear,clear sky,301.89,300.50,301.89,301.89,1006,23,10000,5,7.37,
130,Mayo,38.8876,-76.5119,Clear,clear sky,294.73,294.51,292.59,297.15,1010,60,10000,1,1.54,
133,Condado,21.8767,-79.8403,Rain,light rain,298.49,298.99,297.15,299.15,1017,73,10000,2,3.09,
142,Balkhash,46.8440,74.9804,Clear,clear sky,297.15,296.18,297.15,297.15,1013,22,10000,0,3.00,
150,Saint-Philippe,-21.3585,55.7679,Rain,light rain,298.50,299.13,298.15,299.15,1017,78,10000,0,9.26,
183,Abu Dhabi,24.4667,54.3667,Clear,clear sky,305.72,304.50,305.15,306.15,1009,29,10000,0,1.03,
196,Saint-Pierre,-21.3393,55.4781,Clear,clear sky,298.65,299.29,298.15,299.15,1017,78,10000,0,9.26,
234,Nioro,13.3500,-15.7500,Clear,clear sky,296.51,295.92,296.51,296.51,1009,39,10000,5,1.62,
248,Adrar,20.5022,-10.0711,Clear,clear sky,299.25,299.25,299.25,299.25,1008,20,10000,4,5.02,
280,Katherine,-14.4667,132.2667,Clear,clear sky,305.15,306.39,305.15,305.15,1012,45,10000,0,4.63,
343,Laguna,38.4210,-121.4238,Clear,clear sky,294.46,293.43,294.15,295.15,1019,30,10000,1,4.12,
356,Birjand,32.8663,59.2211,Clear,clear sky,299.15,299.15,299.15,299.15,1017,13,10000,0,6.17,
374,Port Pirie,-33.1833,138.0167,Clear,clear sky,296.15,295.32,296.15,296.15,1022,31,10000,0,3.60,
383,Port Maria,18.3685,-76.8895,Clear,clear sky,294.82,295.50,294.82,294.82,1014,94,10000,4,3.29,
408,Morondava,-20.2833,44.2833,Clear,clear sky,298.97,299.44,298.97,298.97,1014,70,10000,1,2.66,
427,Port Augusta,-32.5000,137.7667,Clear,clear sky,297.62,296.93,296.15,298.15,1022,31,10000,0,3.60,
430,Herat Province,34.5000,62.0000,Clear,clear sky,298.15,297.28,298.15,298.15,1015,22,10000,0,2.57,
431,Broken Hill,-31.9500,141.4333,Clear,clear sky,295.15,294.03,295.15,295.15,1022,24,10000,0,3.60,
436,Bonito Oriental,15.7477,-85.7356,Clear,clear sky,295.99,296.39,295.99,295.99,1012,79,10000,4,1.45,
448,Buraidah,26.3260,43.9750,Clear,clear sky,296.15,295.89,296.15,296.15,1016,53,6000,0,2.06,
467,Salamiyah,35.0113,37.0532,Clear,clear sky,294.63,293.62,294.63,294.63,1017,30,10000,3,1.58,
480,Merke,42.8728,73.1786,Clear,clear sky,300.27,299.46,300.27,300.27,1013,25,10000,0,1.64,
503,Ambilobe,-13.2000,49.0500,Clear,clear sky,298.87,299.56,298.87,298.87,1013,79,10000,4,1.70,
531,Miandrivazo,-19.5167,45.4667,Clear,clear sky,298.79,299.21,298.79,298.79,1015,69,10000,0,1.54,
536,Yulara,-25.2406,130.9889,Clear,clear sky,298.15,297.20,298.15,298.15,1020,19,10000,0,4.63,
539,Aksu,41.1231,80.2644,Clear,clear sky,299.15,299.15,299.15,299.15,1013,9,10000,0,0.61,
545,Alice Springs,-23.7000,133.8833,Clear,clear sky,296.77,295.71,296.48,297.15,1019,20,10000,0,6.69,
547,Abu Samrah,35.3029,37.1841,Clear,clear sky,294.65,293.67,294.65,294.65,1017,31,10000,4,1.79,
555,Ridgecrest,35.6225,-117.6709,Clear,clear sky,295.15,293.61,294.15,295.93,1019,8,10000,1,4.12,
558,KhƒÅsh,28.2211,61.2158,Clear,clear sky,299.11,299.11,299.11,299.11,1012,19,10000,1,2.05,
578,Bilma,18.6853,12.9164,Clear,clear sky,300.84,299.52,300.84,300.84,1009,10,10000,5,3.19,
587,Ajdabiya,30.7554,20.2263,Clear,clear sky,298.11,296.95,298.11,298.11,1014,11,10000,4,4.76,

In [25]:


# Set parameters to search for hotels with 5000 meters.
for index, row in hotel_df.iterrows():
    try:
        base_url = 'https://maps.googleapis.com/maps/api/place/nearbysearch/json'
        radius = 5000
        city = row['City']
        lat = row['LAT']
        lon = row['LON']
        location = f'{lat},{lon}'
        params = {
        'location': location,   
        'rankby': 'distance',
        'type': 'lodging',
        'radious': radius,
        'key':g_key

}
        response = requests.get(base_url, params=params).json()
        hotel_df.loc[index, "Hotel Name"] = response['results'][0]['name']
    except IndexError:  
        hotel_df.loc['Hotel Name'] = 'NA'
hotel_df
    
# Hit the Google Places API for each city's coordinates.Store the first Hotel result into the DataFrame.

,City,LAT,LON,Weather,Desription,Temp,Temp Feels,Temp Min,Temp Max,Pressure,Humidity,Visibility,Clouds,Wind Speed,Hotel Name
2,Bowmore,34.9421,-79.3031,Clear,clear sky,295.53,295.49,295.15,296.15,1017,64,10000,1,4.63,
75,Carnarvon,-24.8667,113.633,Clear,clear sky,300.15,301.6,300.15,300.15,1015,65,10000,1,4.63,Tilly Gia home sweet home
79,Yangi Marg`ilon,40.4272,71.7189,Clear,clear sky,300.15,299.21,300.15,300.15,1013,19,10000,0,1.03,–Ø–Ω–≥–∏ –ú–∞—Ä–≥–∏–ª–∞–Ω
105,Beidao,34.5686,105.893,Clear,clear sky,297.44,296.45,297.44,297.44,1012,20,10000,1,2.4,Xinguang Hostel
114,Yunyang,33.4474,112.714,Clear,clear sky,301.89,300.5,301.89,301.89,1006,23,10000,5,7.37,Lanting Hotel
130,Mayo,38.8876,-76.5119,Clear,clear sky,294.73,294.51,292.59,297.15,1010,60,10000,1,1.54,Resorts Resource Group International
133,Condado,21.8767,-79.8403,Rain,light rain,298.49,298.99,297.15,299.15,1017,73,10000,2,3.09,Casa Guachinango
142,Balkhash,46.844,74.9804,Clear,clear sky,297.15,296.18,297.15,297.15,1013,22,10000,0,3,Family
150,Saint-Philippe,-21.3585,55.7679,Rain,light rain,298.5,299.13,298.15,299.15,1017,78,10000,0,9.26,"Chambres d'h√¥te ""La Trinit√©"""
183,Abu Dhabi,24.4667,54.3667,Clear,clear sky,305.72,304.5,305.15,306.15,1009,29,10000,0,1.03,Jumeirah emirates tower
196,Saint-Pierre,-21.3393,55.4781,Clear,clear sky,298.65,299.29,298.15,299.15,1017,78,10000,0,9.26,FLORIRI
234,Nioro,13.35,-15.75,Clear,clear sky,296.51,295.92,296.51,296.51,1009,39,10000,5,1.62,Manka Kunda
248,Adrar,20.5022,-10.0711,Clear,clear sky,299.25,299.25,299.25,299.25,1008,20,10000,4,5.02,
280,Katherine,-14.4667,132.267,Clear,clear sky,305.15,306.39,305.15,305.15,1012,45,10000,0,4.63,Katherine Motel
343,Laguna,38.421,-121.424,Clear,clear sky,294.46,293.43,294.15,295.15,1019,30,10000,1,4.12,Tracy Brown's House of Jesus
356,Birjand,32.8663,59.2211,Clear,clear sky,299.15,299.15,299.15,299.15,1017,13,10000,0,6.17,ŸæŸÑ€åÿ≥ ÿßŸÖŸÜ€åÿ™ ÿßÿÆŸÑÿßŸÇ€å ÿ®€åÿ±ÿ¨ŸÜÿØ
374,Port Pirie,-33.1833,138.017,Clear,clear sky,296.15,295.32,296.15,296.15,1022,31,10000,0,3.6,Port Pirie Beach Caravan Park
383,Port Maria,18.3685,-76.8895,Clear,clear sky,294.82,295.5,294.82,294.82,1014,94,10000,4,3.29,Port Maria United Church
408,Morondava,-20.2833,44.2833,Clear,clear sky,298.97,299.44,298.97,298.97,1014,70,10000,1,2.66,Hotel Sharone
427,Port Augusta,-32.5,137.767,Clear,clear sky,297.62,296.93,296.15,298.15,1022,31,10000,0,3.6,Sip'n Save - Pastoral Hotel
430,Herat Province,34.5,62,Clear,clear sky,298.15,297.28,298.15,298.15,1015,22,10000,0,2.57,
431,Broken Hill,-31.95,141.433,Clear,clear sky,295.15,294.03,295.15,295.15,1022,24,10000,0,3.6,Excelsior Hotel
436,Bonito Oriental,15.7477,-85.7356,Clear,clear sky,295.99,296.39,295.99,295.99,1012,79,10000,4,1.45,Hotel Las Acacias
448,Buraidah,26.326,43.975,Clear,clear sky,296.15,295.89,296.15,296.15,1016,53,6000,0,2.06,Diabetic Palace Furnished Residential Units
467,Salamiyah,35.0113,37.0532,Clear,clear sky,294.63,293.62,294.63,294.63,1017,30,10000,3,1.58,Gondolas Forum grandchildren and grandparents
480,Merke,42.8728,73.1786,Clear,clear sky,300.27,299.46,300.27,300.27,1013,25,10000,0,1.64,Gostinitsa Merki
503,Ambilobe,-13.2,49.05,Clear,clear sky,298.87,299.56,298.87,298.87,1013,79,10000,4,1.7,Hotel National
531,Miandrivazo,-19.5167,45.4667,Clear,clear sky,298.79,299.21,298.79,298.79,1015,69,10000,0,1.54,EDEN DE LA TSIRIBIHINA
536,Yulara,-25.2406,130.989,Clear,clear sky,298.15,297.2,298.15,298.15,1020,19,10000,0,4.63,Ayers Rock Campground
539,Aksu,41.1231,80.2644,Clear,clear sky,299.15,299.15,299.15,299.15,1013,9,10000,0,0.61,Duolang Bridge Hotel
545,Alice Springs,-23.7,133.883,Clear,clear sky,296.77,295.71,296.48,297.15,1019,20,10000,0,6.69,Aurora Alice Springs
547,Abu Samrah,35.3029,37.1841,Clear,clear sky,294.65,293.67,294.65,294.65,1017,31,10000,4,1.79,
555,Ridgecrest,35.6225,-117.671,Clear,clear sky,295.15,293.61,294.15,295.93,1019,8,10000,1,4.12,City Center Inn
558,KhƒÅsh,28.2211,61.2158,Clear,clear sky,299.11,299.11,299.11,299.11,1012,19,10000,1,2.05,ÿØŸÅÿ™ÿ± Ÿæ€åÿ¥ÿÆŸàÿßŸÜ ÿØŸàŸÑÿ™ ÿ¨ŸÖÿßŸÑ ÿ≤Ÿá€å (ÿÆÿßŸÑÿØ)
578,Bilma,18.6853,12.9164,Clear,clear sky,300.84,299.52,300.84,300.84,1009,10,10000,5,3.19,Expeditions T√©n√©re voyages
587,Ajdabiya,30.7554,20.2263,Clear,clear sky,298.11,296.95,298.11,298.11,1014,11,10000,4,4.76,Almadina Hotel
Hotel Name,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA

In [29]:
# Plot markers on top of the heatmap.
fig=gmaps.figure()
markers=gmaps.marker_layer(locations, info_box_content=response)
fig.add_layer(markers)
fig

KeyError: 0

In [31]:
#NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["LAT", "LON"]]

KeyError: 'Country'

In [ ]:
# Add marker layer ontop of heat map


# Display figure